<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="onSignup(loginForm)"
    #authform="ngForm"
    *ngIf="!isLoading"
    #loginForm="ngForm"
  >
    <mat-form-field>
      <input
        type="email"
        ngModel
        name="email"
        matInput
        placeholder="E-Mail"
        #email="ngModel"
        required
        email
      />
      <mat-error *ngIf="email.invalid"> Please enter a valid email </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        ngModel
        name="password"
        placeholder="Password"
        #password="ngModel"
        required
      />
      <mat-error *ngIf="password.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Sign Up</button>
  </form>
</mat-card>
